package navbar

import "hsmyc/gocms/models"

templ Navbar(menu []models.NavbarItem) {
	<div class="navbar">
		<div>
			<a href="/">
				<img src="/static/images/yuce.svg"/>
			</a>
		</div>
		<div class="navbar_items">
			for _, item := range menu {
				<div class="navbar_item">
					<a href={ item.Url }>{ item.Title }</a>
				</div>
			}
		</div>
	</div>
}
