package navbar

templ Navbar(menu []string) {
	<div class="navbar">
		<div>
			<img src="/static/images/yuce.svg"/>
		</div>
		<h1>Hi is a greatest zizerans</h1>
		for _, item := range menu {
			<div class="navbar_item">{ item }</div>
		}
	</div>
}
