package singletype

templ CreateSingleType() {
	<div>
		<h1>Select fields</h1>
		<button class="modal__open">Open modal</button>
		<div style="diplay:none" class="modal">
			<div class="modal_body">
				<button class="modal__close">X</button>
				<h2>Modal</h2>
				<p>Modal content</p>
			</div>
		</div>
	</div>
}
