.st-container {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  padding: var(--m);
}
.st-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--m);
  padding: var(--m);
  border: 1px solid var(--secondary);
}
.st-fields {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  border: 1px solid var(--secondary);
  padding: var(--m);
}

.st-modal-container {
  position: relative;
}
.st-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
