.modal {
  display: none;
}

.modal--active {
  display: flex;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--m);
}

#modal__close {
  align-self: flex-end;
  padding: var(--s);
  border: none;
  border-radius: var(--xs);
  transition: all 0.3s ease-in-out;
}
