.st-container {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  padding: var(--m);
}
.st-config-container {
  border-bottom: 1px solid var(--secondary);
}
.st-config {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  padding: var(--m);
}
.st-config-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--s);
  padding: var(--s);
}
.st-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--m);
  padding: var(--m);
  border: 1px solid var(--secondary);
}
.st-fields {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  border: 1px solid var(--secondary);
  padding: var(--m);
}
#st-modal {
  position: absolute;
  flex-direction: column;
  gap: var(--m);
  padding: var(--m);
  box-shadow: var(--box-shadow);
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: var(--primary);
}
#st-modal-item {
  position: absolute;
  flex-direction: column;
  gap: var(--s);
  padding: var(--s);
  box-shadow: var(--box-shadow);
  top: -20vh;
  left: -15vw;
  min-width: 30vw;
  width: 100%;
  background-color: var(--secondary);
}
.st-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.st-modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--m);
  font-size: var(--xl);
}

.st-modal-button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .st-config-item {
    gap: var(--m);
    padding: var(--m);
  }

  #st-modal {
    top: 0;
    left: 20vw;
    width: 50vw;
  }
}
