package navigationmenu;

templ NavigationMenu() {
	<div class="navigation-menu">
		<div class="navigation-part-one">
			<i class="fa-solid fa-pen-to-square navigation-icon"></i>
			<a href="/cms/schemas">
				<i class="fa-solid fa-network-wired navigation-icon"></i>
			</a>
			<i class="fa-solid fa-image navigation-icon"></i>
		</div>
		<div class="navigation-part-two">
			<i class="fa-solid fa-gears navigation-icon"></i>
			<i class="fa-solid fa-user navigation-icon"></i>
		</div>
	</div>
}
