:root {
  --primary: #132043;
  --secondary: #bad7e9;
  --third: #fcffe7;
  --fourth: #eb455f;
  --xs: 0.25rem;
  --s: 0.5rem;
  --sm: 0.75rem;
  --m: 1rem;
  --ml: 1.25rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;
  --xxxl: 4rem;
  --box-shadow: 16px 12px 0px 0px rgba(0, 0, 0, 1);
}
* ::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--primary);
  color: var(--third);
}

p {
  margin: 0;
}
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_items {
  display: flex;
  gap: var(--s);
}
.navbar_item {
  padding: var(--s);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.navbar_item:hover {
  background-color: var(--fourth);
  color: var(--third);
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: var(--m);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--m);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--xl);
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  transition: border-radius 0.3s ease;
  gap: var(--m);
}

.card-title {
  font-size: var(--l);
  font-weight: 600;
}
.card-text {
  font-size: var(--m);
}
.card-btn {
  padding: var(--s);
  background-color: var(--fourth);
  color: var(--third);
  border: none;
  border-radius: var(--xs);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.card-btn:hover {
  background-color: var(--secondary);
  color: var(--fourth);
  cursor: pointer;
}
.blog_container {
  display: flex;
  flex-direction: column;
  gap: var(--xxxl);

  margin-top: var(--xxxl);
}
.blog_title {
  font-size: var(--xxl);
  font-weight: 600;
  text-align: left;
}
.blog_info_field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--m);
  background-color: var(--fourth);
  box-shadow: var(--box-shadow);
  width: fit-content;
  padding: var(--s);
}
.blog_hero {
  display: flex;
  gap: var(--xxl);
}
.blog_hero > div {
  flex: 0.5;
  min-height: 30rem;
}
.blog_hero_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog_tag_field {
  display: flex;
  gap: var(--m);
  background-color: var(--fourth);
  box-shadow: var(--box-shadow);
  padding: var(--s);
  width: fit-content;
}

.blog_topics {
  display: flex;
  gap: var(--m);
  background-color: var(--fourth);
  box-shadow: var(--box-shadow);
  padding: var(--s);
  width: fit-content;
}

.blog_interaction {
  display: flex;
  gap: var(--m);
}

.blog_int_item {
  display: flex;
  gap: var(--s);
  align-items: center;
}
/* TODO: create style for reading indicator */
.blog_content {
  display: flex;
  gap: var(--xxl);
}

.blog_content_main {
  flex: 0.7;
}

.blog_content_subheadings {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog_comment_form_field {
  display: flex;
  flex-direction: column;
  gap: var(--xxl);
}
.blog_comment_header {
  font-size: var(--xl);
  font-weight: 600;
  text-align: left;
}
.blog_comment_form {
  /* TODO: create style for form */
}

.blog_comment_writer_field {
  display: flex;
  gap: var(--m);
}

.blog_comment_writer_left {
  flex: 0.2;
}

.blog_comment_writer_right {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: var(--m);
}

.blog_comment_content {
  display: flex;
  flex-direction: column;
}

.blogform{
  display: flex;
  flex-direction: column;
  gap: var(--m);
}
